html{
    color-scheme: light;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    background-color: #132c33;
    color: #f9d676;
    text-align: center;
    background-image: url('images/wallpaper-bg.jpg');
}

h1 {
    font-family: 'Eagle Lake', cursive;
    font-size: 4rem;
    text-shadow: 0 0 15px #000;
}

/* img {
    height: 380px;
    border: ridge 10px #af8b2b;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background-color: #2e1414;
    box-shadow: 10px 15px 20px 5px black;
} */

h1 {
    background-color: #132c33;
    margin: 40px auto 50px auto;
    padding: 5px 50px 15px 50px;
    text-shadow: 10px 15px 20px black;
}



/* ============ Student code ============= */
div {
    display: inline-block;
    width: 320px;
    padding: 20px;
    margin: 15px;
    background-color: rgba(0,0,0,0.4);
}

img {
    width: 260px;
    border: ridge 10px #af8b2b;
    padding: 10px;
    background-color: #2e1414;
    box-shadow: 10px 15px 20px 5px black;
}

main {
    max-width: 1100px;
    margin: auto;
}
